@import "variables";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap/scss/bootstrap.scss";
@import "navbar";
@import "header";
@import "footer";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-feature-settings: "lnum";
}

#header_image {
  width: 80%;
  padding-top: 80px;
  padding-bottom: 15px;
}

section {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.title {
  text-align: center;
  padding-bottom: 8px;
}

.subtitle {
  font-size: 22px;
}

.product-form {
  padding-top: 85px;
  padding-bottom: 12px;

  .btn {
    float: right;
  }
}

.required:after {
  content:" *";
  color: yellow;
}

#location_image {
  height: 450px;
  width: auto;
}

#map {

}

#contact_info {
  margin-bottom: 15px;
}