<footer class="main_footer">
  <div class="social_media_links">
    <%= link_to 'https://www.facebook.com/Klasse.Deutsch.SQC', class: 'footer_link', target: '_blank' do %>
      <%= image_pack_tag 'facebook_logo.svg', class: 'footer_logo' %>
    <% end %>
    <%= link_to 'https://www.instagram.com/klasse_deutsch_/', class: 'footer_link', target: '_blank' do %>
      <%= image_pack_tag 'instagram_logo.png', class: 'footer_logo' %>
    <% end %>
  </div>
</footer>